body {
    padding-top: 15px;
}


.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 800ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}


.center-wrapper {
    width: 100%;
    height: 100%;
    display: inline-flex;
}

.center-content {
    margin: 0 auto;
    align-self: center;
    text-align: center;
}


.chat-wrapper {
    height: 400px;
    overflow-y: auto
}

.chat-content {
    width: 100%;
    white-space: pre-line
}


.small-size {
    font-size: xx-small;
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-top {
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.up-margin-top {
    margin-top: -15px;
}